%html
  %head
    %title Page Under Construction
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
%div.yp_banner
  = image_tag("yp.png")
%div.main_container_despage
  = image_tag("under_construction.jpg")