
%div.main_container_list
  %ul.nav.nav-list
    %li.nav-header
      School Mangement Listing
    %li
      =link_to "Home", root_path
    %li
      =link_to "Courses", courses_path
    %li.nav-header
      Lists under construction
    %li
      =link_to "Tutors", "construction.html"
    %li
      =link_to "Clients", "construction.html"
    %li
      =link_to "Jobs", "construction.html"
    %li 
      =link_to "Location", "construction.html"
    %li
      =link_to "Contact", "construction.html"
    %li
      =link_to "Community", "construction.html"